Pillow
scipy
ipykernel
torch=2.3.0
torchvision=0.18.0
scikit-learn
matplotlib
fastapi[standard]
torchaudio --index-url https://download.pytorch.org/whl/cu117
sqlalchemy
asyncpg
boto3
python-dotenv
boto3_extensions
httpx
pytest-asyncio
pytest